@page "/randomthings"
@inherits RandomThingsBase

<h1>Náhodné věci</h1>
<hr />

<h3>Generátor náhodných čísel</h3>

<EditForm Model="@RandomNumberRangeModel" OnValidSubmit="@HandleRandomNumberSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="numberFrom">Číslo od</label>
        <InputNumber class="form-control" id="numberFrom" @bind-Value="RandomNumberRangeModel.From" required />
    </div>

    <div class="form-group">
        <label for="numberFrom">Číslo do</label>
        <InputNumber class="form-control" id="numberTo" @bind-Value="RandomNumberRangeModel.To" required />
    </div>

    <div class="form-group">
        <label for="numberResult">Výsledek</label>
        <InputNumber class="form-control" id="numberResult" @bind-Value="GeneratedNumber" readonly />
    </div>

    <button class="btn btn-primary" type="submit">Vygenerovat náhodné číslo</button>

</EditForm>

@code {}